<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="1.29.4" targetFramework="portable45-net45+win8+wp8+wpa81" developmentDependency="true" />
  <package id="Realm" version="1.2.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Realm.Database" version="1.2.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Realm.DataBinding" version="1.0.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms" version="2.3.3.193" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>